---
import Layout from "../layouts/Layout.astro";
import concerts from "../data/concerts.json";
import Footer from "../components/Footer.astro";
---

<Layout title="Upcoming Concerts" description="bay area punk shows">
  <h1 class="text-6xl font-bold uppercase">Upcoming Punk Shows</h1>
  <table class="my-4 w-fit">
    <tr class="border-b-1 border-gray-900 text-left">
      <th>Symbol</th>
      <th class="pl-8">Description</th>
    </tr>
    <tr>
      <td>*</td>
      <td class="pl-8">recommendable shows</td>
    </tr>
    <tr>
      <td>a/a</td>
      <td class="pl-8">all ages</td>
    </tr>
    <tr>
      <td>$</td>
      <td class="pl-8">will probably sell out</td>
    </tr>
    <tr>
      <td>@</td>
      <td class="pl-8">pit warning</td>
    </tr>
    <tr>
      <td>^</td>
      <td class="pl-8">under 21 must buy drink tickets</td>
    </tr>
    <tr>
      <td>#</td>
      <td class="pl-8">no ins/outs</td>
    </tr>
  </table>
  {
    concerts.shows && concerts.shows.length === 0 && (
      <p>no events found for this shows.</p>
    )
  }
  {
    concerts.shows &&
      concerts.shows.map((day) => (
        <section class="my-2">
          <h2 class="text-3xl font-bold uppercase">{day.day}</h2>
          <ul>
            {day.events.map((event) => (
              <li>
                <strong>
                  {event.venue.href ? (
                    <a
                      class="hover:underline"
                      href={event.venue.href}
                      target="_blank"
                      rel="noopener noreferrer nofollow"
                    >
                      {event.venue.text}
                    </a>
                  ) : (
                    event.venue.text
                  )}
                </strong>
                {" — "}
                {event.bands.map((band, i) => (
                  <span class="inline-flex">
                    {band.href ? (
                      <a
                        class="hover:underline"
                        href={band.href}
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                      >
                        {band.text}
                      </a>
                    ) : (
                      band.text
                    )}
                    {i < event.bands.length - 1 && ","} &nbsp;
                  </span>
                ))}
                {event.extra && (
                  <>
                    {" — "}
                    <span>{event.extra}</span>
                  </>
                )}
              </li>
            ))}
          </ul>
        </section>
      ))
  }
  <Footer />
</Layout>
